body{
  background-color: rgb(233, 233, 233);
}

.sticky-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sticky-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.document-body{
  top: 100px;
  position: relative;
}